@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import './form.css';

@layer base {
  h1 {
    font-size: var(--text-4xl);
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: blue;
  --color-error: red;
  --color-bgdark: #4a5565;
  --color-textdark: f3f4f6;
  --animate-fade: fade 1s ease-in-out forwards;
  --animate-acordeon: acordeon 0.5s ease-in-out forwards;
  --animate-blink: blink 1s ease-in-out 4 none;
}

@keyframes zoom {
  from {
  }
}

@keyframes acordeon {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}

@keyframes blink {
  0%,
  100% {
    outline: 1px solid orange;
  }
  50% {
    outline: 6px solid orange;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
